
	<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Minified version -->
		<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
		<title>Mini-projet cinéma NSI - Palissy 2024</title>

    </style>
	</head>
	<body>
		<h1>Mini-projet cinéma <br>Palissy 2024</h1>
		<p><img src="https://static.posters.cz/image/hp/66951.jpg"></p>

		<h2>Rechercher un film par titre</h2>
		<p>
			<form action="/">
				<input type="text" placeholder="mot(s) du titre" name="titre"></input>
		<input type="text" placeholder="nom d'une personne" name="personne"></input><br><br>
		<input type="radio" name="recherche" value="
		AND" selected>ET</input><br>
		<input type="radio" name="recherche" value="OR">OU</input><br><br>
				<input type="submit" value="chercher les films"></input>
			</form>
		</p>
	</body>
</html>